<center><h1>ASSIGNMENT 5</h1></center>

# Topic Modeling

## Introduction

Another popular text analysis technique is called topic modeling. The ultimate goal of topic modeling is to find various topics that are present in your corpus. Each document in the corpus will be made up of at least one topic, if not multiple topics.

In this notebook, we will be covering the steps on how to do **Latent Dirichlet Allocation (LDA)**, which is one of many topic modeling techniques. It was specifically designed for text data.

To use a topic modeling technique, you need to provide (1) a document-term matrix and (2) the number of topics you would like the algorithm to pick up.

Once the topic modeling technique is applied, your job as a human is to interpret the results and see if the mix of words in each topic make sense. If they don't make sense, you can try changing up the number of topics, the terms in the document-term matrix, model parameters, or even try a different model.

## Topic Modeling - Attempt #1 (All Text)

In [6]:
# Let's read in our document-term matrix
import pandas as pd
import pickle

data = pd.read_pickle('dtm_stop.pkl')
data

,abandoned,abandons,abide,abidjan,abilities,able,abruptly,absolutely,absorbs,abuse,...,zap,zapper,zeph,zephs,zero,zilch,zocalo,zone,zones,zoom
all-about-my-mother-1999,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
babygirl,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
den-of-thieves-2-pantera,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,2,1
moana-2,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sonic-the-hedgehog-3,1,3,1,0,1,1,1,4,1,1,...,1,1,0,0,1,1,0,1,0,0
star-trek-section-31,0,0,0,0,0,1,0,2,0,0,...,0,0,37,9,0,0,0,0,0,0

In [5]:
# Import the necessary modules for LDA with gensim
# Terminal / Anaconda Navigator: conda install -c conda-forge gensim
from gensim import matutils, models
import scipy.sparse

# import logging
# logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [6]:
# One of the required inputs is a term-document matrix
#tdm->term document matrix
tdm = data.transpose()
tdm.head()

,all-about-my-mother-1999,babygirl,den-of-thieves-2-pantera,moana-2,sonic-the-hedgehog-3,star-trek-section-31
abandoned,0,0,0,0,1,0
abandons,0,0,0,0,3,0
abide,0,0,0,0,1,0
abidjan,0,0,1,0,0,0
abilities,0,0,0,0,1,0

In [9]:
# We're going to put the term-document matrix into a new gensim format, from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm) #converts tdm to compressed sparse row matrix
corpus = matutils.Sparse2Corpus(sparse_counts) #converts sparse matrix to Gensim corpus
#gensim requires its own format hence we do this step.

In [79]:
# Gensim also requires dictionary of the all terms and their respective location in the term-document matrix
cv = pickle.load(open("cv_stop.pkl", "rb"))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term), we need to specify two other parameters - the number of topics and the number of passes. Let's start the number of topics at 1, see if the results make sense, and increase the number from there.

In [13]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=1, passes=10)
lda.print_topics()

[(0,
  '0.006*"okay" + 0.006*"got" + 0.006*"yeah" + 0.006*"oh" + 0.006*"music" + 0.005*"hey" + 0.005*"want" + 0.004*"thats" + 0.004*"grunts" + 0.004*"na"')]

# KEY FINDINGS:
- The top words that define this topic : "okay","got","yeah","oh"
- all these has the highest weight (0.006) â€” itâ€™s the most dominant word in this topic.
- The others have slightly lower weights but still contribute.

In [15]:
# Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term),
# we need to specify two other parameters as well - the number of topics and the number of passes
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=20)
lda.print_topics()

[(0,
  '0.010*"okay" + 0.010*"hey" + 0.010*"music" + 0.009*"yeah" + 0.009*"english" + 0.008*"nick" + 0.007*"fuck" + 0.007*"good" + 0.007*"donnie" + 0.007*"oh"'),
 (1,
  '0.007*"got" + 0.006*"moana" + 0.005*"oh" + 0.005*"grunts" + 0.005*"look" + 0.004*"na" + 0.004*"thats" + 0.004*"okay" + 0.004*"sonic" + 0.004*"way"')]

In [17]:
# LDA for num_topics = 3
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=30)
lda.print_topics()

[(0,
  '0.010*"want" + 0.008*"okay" + 0.007*"yeah" + 0.007*"yes" + 0.007*"oh" + 0.006*"look" + 0.006*"think" + 0.006*"got" + 0.006*"hey" + 0.006*"ill"'),
 (1,
  '0.008*"sonic" + 0.006*"okay" + 0.006*"oh" + 0.005*"georgiou" + 0.005*"yeah" + 0.005*"quasi" + 0.004*"thats" + 0.004*"got" + 0.004*"alok" + 0.004*"shadow"'),
 (2,
  '0.012*"music" + 0.011*"moana" + 0.009*"english" + 0.009*"playing" + 0.009*"nick" + 0.008*"grunts" + 0.007*"got" + 0.007*"donnie" + 0.007*"hey" + 0.007*"maui"')]

In [19]:
# LDA for num_topics = 4
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=40)
lda.print_topics()

[(0,
  '0.000*"okay" + 0.000*"thats" + 0.000*"want" + 0.000*"yeah" + 0.000*"hey" + 0.000*"music" + 0.000*"grunts" + 0.000*"got" + 0.000*"oh" + 0.000*"moana"'),
 (1,
  '0.021*"moana" + 0.014*"maui" + 0.010*"gasps" + 0.010*"grunts" + 0.009*"music" + 0.008*"got" + 0.008*"na" + 0.008*"playing" + 0.007*"moni" + 0.006*"way"'),
 (2,
  '0.010*"english" + 0.009*"nick" + 0.009*"music" + 0.008*"donnie" + 0.007*"fuck" + 0.007*"yeah" + 0.007*"french" + 0.007*"okay" + 0.006*"hey" + 0.006*"georgiou"'),
 (3,
  '0.008*"okay" + 0.008*"want" + 0.007*"oh" + 0.007*"yeah" + 0.006*"got" + 0.006*"look" + 0.006*"sonic" + 0.006*"yes" + 0.006*"thats" + 0.005*"hey"')]

These topics aren't looking too great. We've tried modifying our parameters. Let's try modifying our terms list as well.

## Topic Modeling - Attempt #2 (Nouns Only)

One popular trick is to look only at terms that are from one part of speech (only nouns, only adjectives, etc.). Check out the UPenn tag set: https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html.

In [21]:
# Let's create a function to pull out nouns from a string of text
from nltk import word_tokenize, pos_tag

def nouns(text):
    '''Given a string of text, tokenize the text and pull out only the nouns.'''
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)]
    return ' '.join(all_nouns)

In [23]:
# Read in the cleaned data, before the CountVectorizer step
data_clean = pd.read_pickle('data_clean.pkl')
data_clean

                                                                 transcript
all-about-my-mother-1999  mother transcript scraps loft skip content sea...
babygirl                  babygirl transcript scraps loft skip content s...
den-of-thieves-2-pantera  den thieves pantera transcript scraps loft ski...
moana-2                   moana transcript scraps loft skip content sear...
sonic-the-hedgehog-3      sonic hedgehog transcript scraps loft skip con...
star-trek-section-31      star trek section transcript scraps loft skip ...

In [25]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns = pd.DataFrame(data_clean.transcript.apply(nouns))
data_nouns

                                                                 transcript
all-about-my-mother-1999  mother transcript scraps content search movies...
babygirl                  babygirl transcript scraps content search movi...
den-of-thieves-2-pantera  thieves transcript scraps content search movie...
moana-2                   moana scraps content search movies movie movie...
sonic-the-hedgehog-3      hedgehog transcript scraps content search movi...
star-trek-section-31      star trek section transcript scraps content se...

In [27]:
# Create a new document-term matrix using only nouns
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

# Re-add the additional stop words since we are recreating the document-term matrix
add_stop_words = ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people',
                  'youre', 'got', 'gonna', 'time', 'think', 'yeah', 'said']
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

# Recreate a document-term matrix with only nouns
cvn = CountVectorizer(stop_words=list(stop_words))
data_cvn = cvn.fit_transform(data_nouns.transcript)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names_out())
data_dtmn.index = data_nouns.index
data_dtmn

,abandons,abidjan,abilities,absorbs,abuse,access,accident,account,accountability,accounts,...,youngwell,youve,zamba,zap,zapper,zeph,zephs,zone,zones,zoom
all-about-my-mother-1999,0,0,0,0,0,0,2,0,0,0,...,1,9,0,0,0,0,0,0,0,0
babygirl,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
den-of-thieves-2-pantera,0,1,0,0,0,4,0,1,0,0,...,0,4,3,0,0,0,0,0,2,1
moana-2,0,0,0,0,0,0,0,0,0,1,...,0,5,0,0,0,0,0,0,0,0
sonic-the-hedgehog-3,3,0,1,1,1,1,1,0,0,1,...,0,5,0,1,1,0,0,1,0,0
star-trek-section-31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,26,7,0,0,0

In [29]:
# Create the gensim corpus
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

# Create the vocabulary dictionary
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [31]:
# Let's start with 1 topic
ldan = models.LdaModel(corpus=corpusn, num_topics=1, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.012*"music" + 0.009*"grunts" + 0.007*"way" + 0.006*"hey" + 0.006*"gon" + 0.005*"moana" + 0.005*"okay" + 0.005*"look" + 0.005*"chuckles" + 0.004*"sighs"')]

In [33]:
# Let's start with 2 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.007*"look" + 0.006*"okay" + 0.006*"way" + 0.005*"hey" + 0.005*"chatter" + 0.005*"man" + 0.005*"yes" + 0.005*"music" + 0.005*"woman" + 0.005*"shes"'),
 (1,
  '0.018*"music" + 0.014*"grunts" + 0.010*"moana" + 0.008*"way" + 0.008*"chuckles" + 0.007*"gon" + 0.006*"hey" + 0.005*"donnie" + 0.005*"sighs" + 0.005*"maui"')]

In [35]:
# Let's try topics = 3
ldan = models.LdaModel(corpus=corpusn, num_topics=3, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.016*"moana" + 0.015*"grunts" + 0.012*"music" + 0.010*"way" + 0.009*"chuckles" + 0.009*"gon" + 0.008*"maui" + 0.007*"georgiou" + 0.007*"gasps" + 0.006*"garrett"'),
 (1,
  '0.008*"shes" + 0.008*"look" + 0.007*"son" + 0.006*"yes" + 0.006*"didnt" + 0.006*"thank" + 0.006*"years" + 0.006*"night" + 0.006*"huma" + 0.005*"work"'),
 (2,
  '0.016*"music" + 0.010*"hey" + 0.009*"okay" + 0.008*"grunts" + 0.008*"chatter" + 0.007*"man" + 0.006*"gon" + 0.006*"way" + 0.006*"donnie" + 0.006*"sighs"')]

In [37]:
# Let's try 4 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.012*"georgiou" + 0.010*"garrett" + 0.010*"quasi" + 0.010*"zeph" + 0.008*"alok" + 0.008*"grunts" + 0.007*"fuzz" + 0.007*"ship" + 0.006*"gon" + 0.005*"chuckles"'),
 (1,
  '0.023*"music" + 0.013*"hey" + 0.012*"chatter" + 0.010*"man" + 0.009*"donnie" + 0.009*"grunts" + 0.009*"okay" + 0.008*"sighs" + 0.007*"fuck" + 0.007*"woman"'),
 (2,
  '0.028*"moana" + 0.020*"grunts" + 0.019*"music" + 0.014*"maui" + 0.013*"way" + 0.011*"chuckles" + 0.010*"gasps" + 0.010*"gon" + 0.009*"moni" + 0.008*"island"'),
 (3,
  '0.008*"look" + 0.007*"way" + 0.007*"shadow" + 0.006*"years" + 0.006*"yes" + 0.006*"shes" + 0.006*"knuckles" + 0.005*"day" + 0.005*"family" + 0.005*"okay"')]

## Topic Modeling - Attempt #3 (Nouns and Adjectives)

In [39]:
# Let's create a function to pull out nouns from a string of text
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)]
    return ' '.join(nouns_adj)

In [41]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_adj = pd.DataFrame(data_clean.transcript.apply(nouns_adj))
data_nouns_adj

                                                                 transcript
all-about-my-mother-1999  mother transcript scraps loft skip content sea...
babygirl                  babygirl transcript scraps loft skip content s...
den-of-thieves-2-pantera  den thieves transcript scraps loft skip conten...
moana-2                   moana scraps loft skip content search movies m...
sonic-the-hedgehog-3      sonic hedgehog transcript scraps loft skip con...
star-trek-section-31      star trek section transcript scraps loft skip ...

In [43]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words=list(stop_words), max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names_out())
data_dtmna.index = data_nouns_adj.index
data_dtmna

,abandons,abidjan,abilities,absorbs,abuse,accent,access,accident,account,accountability,...,zamba,zap,zapper,zeph,zephs,zilch,zocalo,zone,zones,zoom
all-about-my-mother-1999,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
babygirl,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
den-of-thieves-2-pantera,0,1,0,0,0,0,4,0,1,0,...,3,0,0,0,0,0,1,0,2,1
moana-2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sonic-the-hedgehog-3,3,0,1,1,1,0,1,1,0,0,...,0,1,1,0,0,1,0,1,0,0
star-trek-section-31,0,0,0,0,0,1,0,0,0,0,...,0,0,0,30,9,0,0,0,0,0

In [45]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [47]:
# Let's start with 1 topic
ldana = models.LdaModel(corpus=corpusna, num_topics=1, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.007*"moana" + 0.007*"english" + 0.006*"sonic" + 0.005*"french" + 0.004*"maui" + 0.004*"fuck" + 0.004*"chatter" + 0.004*"whoa" + 0.003*"shadow" + 0.003*"um"')]

In [49]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.013*"english" + 0.009*"french" + 0.009*"fuck" + 0.008*"chatter" + 0.005*"serbian" + 0.005*"indistinct" + 0.004*"romy" + 0.004*"jovanna" + 0.004*"um" + 0.004*"car"'),
 (1,
  '0.013*"moana" + 0.010*"sonic" + 0.008*"maui" + 0.006*"whoa" + 0.006*"shadow" + 0.005*"quasi" + 0.005*"garrett" + 0.005*"alok" + 0.005*"team" + 0.004*"zeph"')]

In [51]:
# Let's try 3 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.013*"english" + 0.011*"sonic" + 0.009*"french" + 0.007*"fuck" + 0.006*"shadow" + 0.005*"whoa" + 0.005*"quasi" + 0.005*"serbian" + 0.005*"garrett" + 0.005*"alok"'),
 (1,
  '0.016*"moana" + 0.011*"maui" + 0.006*"chatter" + 0.006*"um" + 0.005*"romy" + 0.005*"moni" + 0.005*"loto" + 0.004*"huma" + 0.004*"mom" + 0.004*"island"'),
 (2,
  '0.001*"moana" + 0.001*"maui" + 0.001*"english" + 0.000*"fuck" + 0.000*"quasi" + 0.000*"french" + 0.000*"playing" + 0.000*"ta" + 0.000*"whoa" + 0.000*"alok"')]

In [53]:
# Let's try 4 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.016*"sonic" + 0.009*"shadow" + 0.008*"quasi" + 0.007*"garrett" + 0.007*"alok" + 0.006*"whoa" + 0.006*"team" + 0.006*"zeph" + 0.005*"ship" + 0.005*"fuzz"'),
 (1,
  '0.024*"moana" + 0.016*"maui" + 0.009*"chatter" + 0.009*"um" + 0.007*"romy" + 0.007*"moni" + 0.007*"loto" + 0.006*"island" + 0.006*"ta" + 0.005*"dance"'),
 (2,
  '0.010*"huma" + 0.009*"son" + 0.007*"agrado" + 0.006*"night" + 0.006*"mother" + 0.005*"rosa" + 0.005*"esteban" + 0.005*"manuela" + 0.005*"mom" + 0.005*"husband"'),
 (3,
  '0.030*"english" + 0.021*"french" + 0.017*"fuck" + 0.012*"serbian" + 0.010*"jovanna" + 0.008*"indistinct" + 0.007*"chatter" + 0.006*"tense" + 0.006*"policeman" + 0.006*"suspenseful"')]

## Identify Topics in Each Document

Out of the 9 topic models we looked at, the nouns and adjectives, 4 topic one made the most sense. So let's pull that down here and run it through some more iterations to get more fine-tuned topics.

In [55]:
# Our final LDA model (for now)
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.018*"english" + 0.015*"sonic" + 0.013*"french" + 0.010*"fuck" + 0.008*"shadow" + 0.007*"serbian" + 0.006*"jovanna" + 0.005*"indistinct" + 0.005*"knuckles" + 0.005*"tom"'),
 (1,
  '0.024*"moana" + 0.016*"maui" + 0.009*"chatter" + 0.009*"um" + 0.007*"romy" + 0.007*"moni" + 0.007*"loto" + 0.006*"ta" + 0.006*"island" + 0.005*"laughter"'),
 (2,
  '0.010*"huma" + 0.009*"son" + 0.007*"agrado" + 0.006*"night" + 0.006*"mother" + 0.005*"manuela" + 0.005*"esteban" + 0.005*"rosa" + 0.005*"husband" + 0.005*"mom"'),
 (3,
  '0.014*"quasi" + 0.013*"garrett" + 0.012*"alok" + 0.011*"zeph" + 0.010*"ship" + 0.009*"fuzz" + 0.008*"san" + 0.008*"godsend" + 0.007*"dada" + 0.005*"chaos"')]

These four topics look pretty decent. Let's settle on these for now.
* Topic 0: moana,maui,moni,loto,ta,island,mouufetu
* Topic 1: quasi,chatter,garrett,alok,um,zeph
* Topic 2: huma,son,agrado,night,mother,manuela
* Topic 3: english,sonic,french,shadow,serbian,jovanna

In [57]:
# Let's take a look at which topics each transcript contains
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(2, 'all-about-my-mother-1999'),
 (1, 'babygirl'),
 (0, 'den-of-thieves-2-pantera'),
 (1, 'moana-2'),
 (0, 'sonic-the-hedgehog-3'),
 (3, 'star-trek-section-31')]

## Additional Exercises

1. Try further modifying the parameters of the topic models above and see if you can get better topics.
2. Create a new topic model that includes terms from a different [part of speech](https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html) and see if you can get better topics.

## NOUN & ADVERB

In [59]:
from nltk import word_tokenize, pos_tag

def nouns_adv(text):
    '''Given a string of text, tokenize and pull out only nouns and adverbs.'''
    is_noun_adv = lambda pos: pos[:2] == 'NN' or pos[:2] == 'RB'
    tokenized = word_tokenize(text)
    nouns_adv = [word for (word, pos) in pos_tag(tokenized) if is_noun_adv(pos)]
    return ' '.join(nouns_adv)

In [61]:
data_nouns_adv = pd.DataFrame(data_clean.transcript.apply(nouns_adv))
data_nouns_adv

                                                                 transcript
all-about-my-mother-1999  mother transcript scraps content search movies...
babygirl                  babygirl transcript scraps content search movi...
den-of-thieves-2-pantera  thieves transcript scraps content search movie...
moana-2                   moana scraps content search movies movie movie...
sonic-the-hedgehog-3      hedgehog transcript scraps content search movi...
star-trek-section-31      star trek section transcript scraps content se...

In [63]:
cvna = CountVectorizer(stop_words=list(stop_words), max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adv.transcript)  # use data_nouns_adv now
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names_out())
data_dtmna.index = data_nouns_adv.index
data_dtmna

,abandons,abidjan,abilities,abruptly,absolutely,absorbs,abuse,academy,access,accident,...,youngwell,youyouyou,zamba,zap,zapper,zeph,zephs,zone,zones,zoom
all-about-my-mother-1999,0,0,0,0,0,0,0,0,0,2,...,1,0,0,0,0,0,0,0,0,0
babygirl,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
den-of-thieves-2-pantera,0,1,0,0,0,0,0,1,4,0,...,0,0,3,0,0,0,0,0,2,1
moana-2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sonic-the-hedgehog-3,3,0,1,1,4,1,1,0,1,1,...,0,0,0,1,1,0,0,1,0,0
star-trek-section-31,0,0,0,0,2,0,0,0,0,0,...,0,1,0,0,0,26,7,0,0,0

In [65]:
# Create the gensim corpus from the noun+adverb DTM
corpus_na_adv = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary for gensim
id2word_na_adv = dict((v, k) for k, v in cvna.vocabulary_.items())

In [67]:
# Let's start with 1 topic
ldana = models.LdaModel(corpus=corpusna, num_topics=1, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.007*"moana" + 0.007*"english" + 0.006*"sonic" + 0.005*"french" + 0.004*"chatter" + 0.004*"fuck" + 0.004*"maui" + 0.004*"whoa" + 0.003*"shadow" + 0.003*"um"')]

In [69]:
# Let's start with 2 topic
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.015*"moana" + 0.010*"maui" + 0.005*"chatter" + 0.005*"um" + 0.005*"romy" + 0.005*"moni" + 0.004*"loto" + 0.004*"huma" + 0.004*"ta" + 0.004*"island"'),
 (1,
  '0.012*"english" + 0.010*"sonic" + 0.009*"french" + 0.006*"fuck" + 0.005*"shadow" + 0.005*"whoa" + 0.005*"quasi" + 0.005*"serbian" + 0.005*"garrett" + 0.004*"alok"')]

In [73]:
# 50 passes
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=50)
ldana.print_topics()

[(0,
  '0.016*"moana" + 0.014*"sonic" + 0.011*"maui" + 0.007*"shadow" + 0.006*"whoa" + 0.005*"moni" + 0.005*"loto" + 0.005*"knuckles" + 0.005*"tom" + 0.004*"ta"'),
 (1,
  '0.011*"english" + 0.008*"french" + 0.007*"fuck" + 0.007*"chatter" + 0.005*"quasi" + 0.004*"garrett" + 0.004*"serbian" + 0.004*"indistinct" + 0.004*"alok" + 0.004*"romy"')]

In [75]:
# 80 passes
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.016*"english" + 0.012*"french" + 0.009*"fuck" + 0.007*"quasi" + 0.006*"serbian" + 0.006*"garrett" + 0.006*"alok" + 0.005*"jovanna" + 0.005*"zeph" + 0.005*"ship"'),
 (1,
  '0.011*"moana" + 0.009*"sonic" + 0.007*"maui" + 0.005*"shadow" + 0.005*"um" + 0.005*"chatter" + 0.004*"whoa" + 0.004*"romy" + 0.003*"moni" + 0.003*"loto"')]